html {
  height: 100%;
}

.border-dashed {
  border-style: dashed !important;
}

.border-5px {
  border-width: 5px !important;
}

.popover {
  max-width: 30rem;
}

.list-group {
	list-style: decimal inside;
}

.list-group-item {
	display: list-item;
}